<!DOCTYPE html>
<html>

<head>

	<title>Project</title>

	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>

	<header>
		<nav>
			<ul>
				<li class="nav__button"><a class="nav__link" href="/learning">Обучение</a></li>
				<li class="nav__button"><a class="nav__link" href="/predict">Предсказание</a></li>
				<li class="nav__button"><a class="nav__link" href="/">О проекте</a></li>
			</ul>
		</nav>
	</header>

	{% block content %}{% endblock %}
</body>

</html>